div.nav-bar{
  padding: 2px;
  float: right;
  margin-top: 4px;
  /*border-bottom: 1px solid black;*/
}

div.nav-bar-link > a{
  color: white;
  text-decoration: none;
}

div.nav-bar-link {
  font-size: 14px;
  text-transform: capitalize;
  padding: 5px;
  display: inline-block;
}

.active {
  background: rgba(255, 255, 0, 0.2);
  border-bottom: 3px solid yellow;
  transition: all 250ms ease-out;
}
